.workbuddy/*
frontend/node_modules/*
frontend/dist/*
backend/config/config.yaml
backend/config/config.local.yaml
config.yaml
config.local.yaml
.env
.codex/*
backend/storage/*
sharefrontend/.dev-err.log
sharefrontend/.dev-out.log
data/*
!data/.gitkeep
deploy/backend/config.yaml
deploy/nginx/default.conf
